@import './size';

.btn {
    @include size(36px, 27px, 100px, 27px, 102px);

    margin-right: 31px;
    border: none;
    background-color: color(1);
    color: color(2);
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;

    &:last-child {
        margin-right: 0;
    }

    &.medium {
        @include size(18px, 14px, 46px, 27px, 102px);
    }

    &.large {
        @include size(26px, 23px, 93px, 23px, 94px);
    }

    &.x-large {
        @include size(36px, 25px, 99px, 28px, 102px);
    }

    &.round {
        $corners: 3, 7, 12, 20;

        @each $corner in $corners {

            &-#{ $corner } {
                border-radius: $corner+px;
            }
        }
    }

    &.bg-color {
        @each $index,$color in $palette {

            &-#{ $index } {
                background-color: $color;
            }
        }
    }

    &:hover {
        background-color: color(3);
    }
}
